# production
build
dist
dist-dev
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
lib
lib-types
etc
external
tsc-out
target
output
server
tsconfig.tsbuildinfo
tsdoc-metadata.json

# dependencies
.pnp
.pnp.js
.yarn
node_modules
bower_components
jspm_packages
*.local

# cache
.rollup.cache
.cache

# editor
.vscode

# netlify
.netlify

# own
package.json
backups
tmp
