@charset "UTF-8";

.container {
	margin: 0 auto;
	padding: 30px 40px;

	&.container-purple {
		margin-top: 8rem;
		background: var(--qwik-light-purple);
	}

	&.container-dark {
		background: var(--qwik-dark-background);
		color: var(--qwik-dark-text);
	}

	&.container-center {
		text-align: center;
	}

	&.container-spacing-xl {
		padding: 50px 40px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		padding: 60px 80px;
	}
	.container.container-spacing-xl {
		padding: 100px 60px;
	}
	.container.container-flex {
		display: flex;
		justify-content: center;
		gap: 60px;
	}
}

@media screen and (max-width: 621px) {
	.container {
		&.container-purple {
			margin-top: 12rem;
		}
	}
}

@media screen and (max-width: 446px) {
	.container {
		&.container-purple {
			margin-top: 18rem;
		}
	}
}

@media screen and (max-width: 265px) {
	.container {
		&.container-purple {
			margin-top: 22rem;
		}
	}
}
