@charset "UTF-8";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: inline-block;

	a {
		display: block;
	}
}

.header {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 30px;
	}

	li {
		display: none;
		margin: 0;
		padding: 0;
		font-size: 0.7rem;

		a {
			color: white;
			display: inline-block;
			padding: 0;
			text-decoration: none;
			font-size: medium;

			&:hover {
				color: var(--qwik-light-blue);
			}
		}
	}
}

@media (min-width: 450px) {
	.header li {
		display: inline-block;
	}
}
