@charset "UTF-8";

.hero {
	display: flex;
	vertical-align: middle;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	height: 450px;
	justify-content: center;
	gap: 40px;
	margin-top: 3rem;

	p {
		color: white;
		margin: 0;
		font-size: 1rem;
	}

	.hero-image {
		width: 100%;
		position: absolute;
		height: auto;
		object-fit: cover;
		z-index: -1;
		opacity: 0.2;
		pointer-events: none;
	}

	.button-group {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}

	.hidden {
		display: none;
	}

	.logos {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.logo {
			height: 6em;
			padding: 1.5em;
			will-change: filter;
			transition: filter 300ms;
			width: 128px !important;
			height: 128px !important;

			&.vite:hover {
				filter: drop-shadow(0 0 2em #eb79fff9);
			}

			&.qwik:hover {
				filter: drop-shadow(0 0 2em #37c3fff2);
			}

			&.bun:hover {
				filter: drop-shadow(0 0 2em #ffe838e1);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.hero {
		gap: 60px;
		height: 500px;

		p {
			font-size: 1.3rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		margin-top: 7rem;
	}
}

@media screen and (max-width: 449px) {
	.hero {
		margin-top: 15rem;
	}
}
